In [1]:
import numpy as np
import pandas as pd

pd.set_option("display.max.columns", 100)
# to draw pictures in jupyter notebook
%matplotlib inline
# we don't like warnings
# you can comment the following 2 lines if you'd like to
import warnings

import matplotlib.pyplot as plt
import seaborn as sns

warnings.filterwarnings("ignore")

In [2]:
data = pd.read_csv("https://raw.githubusercontent.com/Yorko/mlcourse.ai/main/data/" + "adult.data.csv")
data.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

1. How many men and women (sex feature) are represented in this dataset?

In [6]:
#1
data["sex"].value_counts()

sex
Male      21790
Female    10771
Name: count, dtype: int64

2. What is the average age (age feature) of women?

In [9]:
#2
data[data["sex"]== "Female"]["age"].mean()

36.85823043357163

3. What is the percentage of German citizens (native-country feature)?

In [19]:
#3
percentage = round((data[data["native-country"]=="Germany"].shape[0] / data.shape[0])*100,2)
percentage

#float((data["native-country"] == "Germany").sum()) / data.shape[0]

0.42

4-5. What are the mean and standard deviation of age for those who earn more than 50K per year (salary feature) and those who earn less than 50K per year?

In [35]:
#4,5
data.groupby(["salary"]).describe()["age"][["mean","std"]]

             mean        std
salary
<=50K   36.783738  14.020088
>50K    44.249841  10.519028

6. Is it true that people who earn more than 50K have at least high school education? (education â€“ Bachelors, Prof-school, Assoc-acdm, Assoc-voc, Masters or Doctorate feature)

In [ ]:
#6
high = ["Bachelors", "Prof-school", "Assoc-acdm", "Assoc-voc", "Masters","Doctorate"]

data["education"].value_counts().index
over50 = data[data["salary"] == ">50K"] 
over50higher = over50[over50["education"].apply(lambda x: x in high) == True].shape[0]

(over50higher/over50.shape[0] * 100 )> 50

True

7. Display age statistics for each race (race feature) and each gender (sex feature). Use groupby() and describe(). Find the maximum age of men of Amer-Indian-Eskimo race.

In [69]:
#7

data.groupby(["race","sex"]).describe()["age"][["mean","std","min","max"]]

#for (race, sex), sub_df in data.groupby(["race", "sex"]):
#    print("Race: {0}, sex: {1}".format(race, sex))
#    print(sub_df["age"].describe())

                                mean        std   min   max
race               sex
Amer-Indian-Eskimo Female  37.117647  13.114991  17.0  80.0
                   Male    37.208333  12.049563  17.0  82.0
Asian-Pac-Islander Female  35.089595  12.300845  17.0  75.0
                   Male    39.073593  12.883944  18.0  90.0
Black              Female  37.854019  12.637197  17.0  90.0
                   Male    37.682600  12.882612  17.0  90.0
Other              Female  31.678899  11.631599  17.0  74.0
                   Male    34.654321  11.355531  17.0  77.0
White              Female  36.811618  14.329093  17.0  90.0
                   Male    39.652498  13.436029  17.0  90.0

8. Among whom is the proportion of those who earn a lot (>50K) greater: married or single men (marital-status feature)? Consider as married those who have a marital-status starting with Married (Married-civ-spouse, Married-spouse-absent or Married-AF-spouse), the rest are considered bachelors.

In [126]:
#8
#data["marital-status"].value_counts().index

criteria = lambda x: x.startswith("Married")


new =data[data["salary"] == ">50K"]["marital-status"].value_counts()
all = new.sum()

sum = 0
for key in new.index:
    if key.startswith("Married"):
        sum += new[key]

if(sum/all > (all - sum)/all):
    print("Married")
else:
    print("Bachelors")
    
#married
#data[(data["sex"] == "Male") & (data["marital-status"].str.startswith("Married"))]["salary"].value_counts(normalize=True)

#single men
#data[(data["sex"] == "Male") & ~(data["marital-status"].str.startswith("Married"))]["salary"].value_counts(normalize=True)

Married

9. What is the maximum number of hours a person works per week (hours-per-week feature)? How many people work such a number of hours, and what is the percentage of those who earn a lot (>50K) among them?

In [151]:
#9
data["hours-per-week"].max()

all = data[data["hours-per-week"] == 99]#.shape[0]

all[all["salary"] == ">50K"].shape[0]/all.shape[0] * 100

29.411764705882355

10. Count the average time of work (hours-per-week) for those who earn a little and a lot (salary) for each country (native-country). What will these be for Japan?

In [162]:
#10

df = data.groupby(["salary", "native-country"]).describe()["hours-per-week"][["mean"]]

data[data["native-country"] == "Japan"]["hours-per-week"].mean()


#pd.crosstab(  data["native-country"],data["salary"],values=data["hours-per-week"],aggfunc=np.mean,).T

43.693548387096776